#choose {
    position: relative;
    display: block;
    z-index:2!important;
}
.sep-choose {
    background-image: url("../../assets/img/bg-blue-2.png");
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    display: block;
    height: 10vw;
    z-index:2!important;
    background-color: #ff5bf8;
    margin-top:-1vw;
}
.choose-section {
    position: relative;
    display: inline-block;
    width:100vw;
    padding: 15vw 0 10vw 0;
    z-index:2!important;
    background-color: #00fff8;
    margin-top:-10vw;
}
.choose-section > button {
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 8vw;
}

/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
    .choose-section {
        padding: 10vw 0 5vw 0;
    }
}