#legendary {
    display: block;
    position: relative;
    background-image: url("../../assets/img/bg/bg_08_legendary.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    background-color: #30f7ff;
    margin-top:-50px;
    z-index:2!important;
}
.legendary-container {
    position: relative;
    display: block;
    width: 100vw;
    padding: 15vw 0 10vw 0;
}
.legendary-content {
    position: relative;
    display: block;
    padding: 0 15vw;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
}
.legendary-content p {
    color: #000;
}

/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {
    .legendary-container {
        padding: 15vw 0 10vw 0;
    }
    .legendary-content {
        padding: 0 10vw;
    }
}
@media only screen and (min-width: 768px) {
    .legendary-container {
        padding: 15vw 0 10vw 0;
    }
    .legendary-content {
        padding: 0 10vw;
    }
}
@media only screen and (min-width: 1200px) {
    .legendary-container {
        padding: 15vw 0 10vw 0;
    }
    .legendary-content {
        padding: 0 20vw;
    }
    #legendary .section-title
    {
        padding:1vw 0;
    } 
}