#title {
    display:block;
    width: 100vw;
    float: left;
}
.title-container {
    position: relative;
    display: block;
    z-index: 60;
    width: 100vw;
    background-color: #00fff8;
    padding:40vw 0 0 0;
}
.title-container img {
    width: 80vw;
}
.subtitle-container {
    position: relative;
    display: flex;
    padding: 0 0 30vw 0;
    background-color: #00fff8;
}
.subtitle {
    position: relative;
    display: block;
    font-family: MyriadPro-BoldSemiExt !important;
    font-weight: 900;
    font-size: 5vw;
    margin: 10vw auto;
    width: 80vw;
    justify-content: space-around;
    text-justify:distribute;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 400px) {
    .title-container { 
        padding:40vw 0 0 0;
    }
    .subtitle-container {
        padding: 4vw 0 15vw 0;
    }
    .title-container img {
        width: 70vw;
    }
    .subtitle-container {
        padding: 0 0 30vw 0;
    }
}
@media only screen and (min-width: 768px) {
    .title-container { 
        padding:12vw 0 0 0;
    }
    .subtitle-container {
        padding: 4vw 0 8vw 0;
    }
    .title-container img {
        width: 65vw;
    }
}
@media only screen and (min-width: 992px) {
    .title-container { 
        padding:8vw 0 0 0;
    }
    .subtitle-container {
        padding: 3vw 0 4vw 0;
    }
    .title-container img {
        width: 60vw;
    }
}
@media only screen and (min-width: 1200px) {
    .title-container {
        padding:10vw 0 0 0;
    }
    .subtitle-container {
        padding: 2vw 0 2vw 0;
    }
    .title-container img {
        width: 50vw;
    }
}