.title-container {
    z-index: 60;
    width: 100vw;
    text-align:center;
    background-color: #00fff8;
    padding:10vw 0 0 0;
}
.title-container img {
    width: 50vw;
    height: auto;
}
.subtitle-container {
    position: relative;
    display: block;
    padding:2vw 0 10vw 0;
    background-color: #00fff8;
}
.subtitle {
    font-family: MyriadPro-BoldSemiExt !important;
    font-weight: 900;
    font-size: 3.5vw;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}