.sep-team {
    position:absolute;
    width: 100vw;
    height: 20vw;
    z-index:2!important;
    background-color: #ff5bf8;
}
.team-container {
    position: relative;
    margin: 0;
    padding: 25vh 5vh;
    z-index:2!important;
}
.team-member {
    position: relative;
    display: inline-block;
    width:25vw;
    padding:3vw 0 6vw 0;
}
.team-member img {
    padding: 2vw;
    width: 20vw;
    max-width: 40vw;
}
.team-member-name {
    position: relative;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    font-family: MyriadPro-BoldSemiExt !important;
}
.team-member-desc {
    font-family: MyriadPro-LightSemiExt !important;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.5vw;
    color: #2c2c2c;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {

    .team-container {
        padding: 15vh 3vh;
    }
    .team-member {
        width: 80vw;
    }
    .team-member img {
        padding: 2vw;
        width: 80vw;
        max-width: 40vw;
    }
    .team-member-name {
        font-size: 4vw;
    }
    .team-member-desc {
        font-size: 3vw;
        width: 50vw;
    }
}