.about-sep {
    position: relative;
    display: block;
    height: auto;
}
.about-sep img {
    position: relative;
    display: block;
    width: 100vw;
}
.about-container {
    position: relative;
    padding: 20vh;
    background-color: #ff5bf8;
    background-image: url("../../assets/img/circle-pink.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 90%;
}
.section-content {
    /* font-weight: 600; */
    letter-spacing: 0.1vh;
    line-height: 4vh;
    color: white;
    text-align: justify;
    font-family: Myriad-Bold !important;
    /* font-weight: 4vw; */
}



.about_eye_desktop {
    z-index: 60;
    position: relative;
}
.about_eye_desktop > img {
    position: absolute;
    right: 8em;
    top: -8.6em;
    width: 80px;
}
.manifesto-eye img {
    width: 60px;
}



@media only screen and (max-width: 600px) {

    .about-container {
        padding: 15vh 2vh 15vh 8vh;
    }
    .manifesto-eye img {
        width: 50px;
    }
}