#about {
    position: relative;
    display: block;
    background-image: url("../../assets/img/bg-pink-1.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    z-index:2!important;
    margin-top: 40vw!important;
}
.about-sep {
    position: relative;
    display: block;
    height: auto;
}
.about-sep img {
    position: relative;
    display: block;
    width: 100vw;
}
.about-container {
    position: relative;
    width: 100vw;
    background-color: #ff5bf8;
    background-image: url("../../assets/img/circle-pink.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 90%;
}
.about-content {
    padding: 15vw 5vw 15vw 5vw;
}
.section-desc {
    color: white;
}
#about-eye {
    display: block;
    position: absolute;
    bottom:1vw;
    right:20vw;
}
#about-eye img {
    width: 12vw;
}


@media only screen and (min-width: 576px) {
    .about-content {
        padding: 15vw 10vw 15vw 10vw;
    }
    #about-eye img {
        width: 11vw;
    }
}
@media only screen and (min-width: 768px) {

    #about-eye img {
        width: 10vw;
    }
}
@media only screen and (min-width: 992px) {

    #about-eye img {
        width: 9vw;
    }
}
@media only screen and (min-width: 1200px) {

    #about-eye img {
        width: 8vw;
    }
}

