#Bg_RandomNfts {
    position: fixed;
    width: 100vw;
    background-image: url("../../assets/img/intro-random.png");
    background-size:100vw;
    top:0;
    bottom:0;
    z-index:-1;
}
section {
    position: absolute;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    z-index: 0;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    display: contents;
    overflow: hidden;
}
.section-container {
    position:relative;
    display: block;
    width: 100vw;
}
.section-title {
    display: block;
    margin: 5vw auto;
    font-family: MyriadPro-BoldSemiExt;
    font-weight: 800;
    padding: 5vw;
    font-size: 2em;
    text-align: center;
}
.section-desc {
    float:left;
    position: relative;
    display: inline-flex;
    font-family: Myriad-Bold !important;
    font-size: 0.9em;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}
p.cta-headline {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 800;
    margin: auto;
    padding: 0 5vw;
    font-family: sans-serif;
}
.cta-container > button {
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 8vw;
    cursor: pointer;
}


/* Responsive */
@media only screen and (min-width: 576px) {
    .section-title {
        font-size: 3em;
    }
    .section-desc {
        font-size: 1.25m;
    }
    p.cta-headline {
        font-size: 1.4em;
        line-height: 1.4em;
    }
}
@media only screen and (min-width: 768px) {
    .section-title {
        font-size: 2.5em;
    }
    .section-desc {
        font-size: 1.2em;
    }
    p.cta-headline {
        font-size: 2em;
        line-height: 1.5em;
    }
}
@media only screen and (min-width: 1200px) {
    .section-title {
        font-size: 3em;
    }
    .section-desc {
        font-size: 1.4em;
    }
    p.cta-headline {
        font-size: 2.5em;
        line-height: 2em;
    }
}
