.appbar {
    background-image: url("../../assets/img/topnav-bg.png") !important;
    max-width: 100%;
    color: #ff5bf8 !important;
}
.connect {
    background-image: url("../../assets/img/topnav-connect.png") !important;
    font-weight: 900 !important;
    background-size: cover;
    color: white !important;
    width: 160px;
    font-family: Acumin-Variable-Concept;
}
button.navItems {
    color: black;
    font-weight: 800;
    font-family: 'acumin-pro-condensed', sans-serif;
    padding-left: 2vw;
    padding-right: 60px !important;
    font-size: 1em;
}

@media only screen and (max-width: 1300px) {
    button.navItems {
        padding-left: 20px;
        padding-right: 20px;
    }


}