.cta-container {
    background-color: white;
    padding-top: 10vw;
    padding-bottom: 10vw;
    height: max-content;
    position: relative;

}
.btn--action {
    display: inline-block;
    position: relative;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.5em;
    padding: 2em 1.5em;
    margin: 8vw 12vw;
    border-radius: 0.5rem;
    background-color: #000;
    color: #ccc;
    box-shadow: 0 10px #666;
    text-decoration: none;
    transition: all .5s ease 0s;
    margin: 5vw auto 0;
}
.btn--action:hover {
    color: #111!important;
    background-color: #75fbf8!important;
}
.btn--action span {
    color:#ccc;
    transition: all .5s ease 0s; 
}
.btn--action:hover span {
    color:#ea3423!important;
    transition: all .5s ease 0s; 
}
.btn--action:hover {
    color: #75fbf7;
    transition: all .5s ease 0s; 
    box-shadow: 0 10px #333;
    
}
.btn--action:active {
    box-shadow: 0 5px #75fbf8;
    transform: translateY(5px);
}
/* TEXT RED STRIKE */
.btn--action .strike {
    position: relative;
    display: inline-block;
}
.btn--action .strike::before {
    visibility:hidden;
    content: '';
    border-bottom: 5px solid #ea3423;
    width: 100%;
    position: absolute;
    right: 0;
    top: 40%;
}
.btn--action:hover .strike::before {
    visibility: visible;
}
/* TEXT RED CROSS */
.btn--action:hover .cross {
    position: relative;
    display: inline-block;
}
.btn--action:hover .cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 40%;
}
.btn--action:hover .cross::before {
    border-bottom: 5px solid #ea3423;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}
.btn--action:hover .cross::after {
    border-bottom: 5px solid #ea3423;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}

/* *************************************** */
/* RESPONSIVE MEDIA QUERIES - MOBILE FIRST */
/* *************************************** */
@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
    .btn--action{
        font-size: 2em;
        padding: 0.5em 1em;
        margin: 8vw 12vw;
    }
}

