
.dontBeSection {
    background-color: white;
    padding-top: 10vw;
    padding-bottom: 10vw;
    height: max-content;
    position: relative;

}

.dontBeSection > button {
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 8vw;

}


.dontBeSection_bg {
    margin-top: -20vw;
    margin-bottom: -20vw;
    /* position: relative; */
}


.dontBeSection_bg img {
    max-width: 100%;
}

.buttonsectionheading {
    font-size: 3.6vw;
    font-weight: 800;
    margin: auto;
    /* width: 80%; */
    font-family: sans-serif;
}
.buttonsection > button {
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 8vw;

}
.buttonsectiondesc {
    width: 84%;
    margin: auto;
    overflow-wrap: break-word;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.7px;
}