#intro {
    position: relative;
    margin:0;
    z-index: 999!important;
}
.intro {
    position: relative;
    top: 0;
    left:0;
    width: 50vw;
    margin: 0 auto;
    margin-top: 90vw;
    margin-bottom: -60vw;
    z-index: 999!important;
}

/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 400px) {
    .intro {
        margin-top: 90vw;
        margin-bottom: -60vw;
    }
}
@media only screen and (min-width: 768px) {
    .intro {
        margin-top: 75vw;
        margin-bottom: -60vw;
    }
}
@media only screen and (min-width: 992px) {
    .intro {
        width: 25vw;
        margin-top: 50vw;
        margin-bottom: -50vw;
    }
}
@media only screen and (min-width: 1200px) {
    .intro {
        width: 20vw;
        margin-top: 30vw;
        margin-bottom: -50vw;
    }

}