#header {
    position:relative!important;
    display:inline-block;
    top:0;
    left:0;
    z-index:999!important;
}
#header span {
    color: #111!important;
    font-weight: bold;
    line-height: 3em;
}
.appbar {
    position: relative;
    top:0;
    left:0;
    display: block;
    background-image: url("../../assets/img/topnav-bg.png") !important;
    max-width: 100%;
    color: #ff5bf8 !important;
    z-index: 999!important;
}
.connect {
    background-image: url("../../assets/img/topnav-connect.png") !important;
    font-weight: 900 !important;
    background-size: cover;
    color: white !important;
    width: 160px;
    font-family: Acumin-Variable-Concept;
}
button.navItems {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 1vw;
    color: black;
    font-weight: 800;
    font-family: 'acumin-pro-condensed', sans-serif;
    font-size: 1em;
}
button.navItems:hover {
    background-color: #00fff8;
}
.MuiMenu-root {
    z-index:999!important;
}
.MuiPopover-paper {
    display: inline-block;
    top: 75px!important;
    left: 10px!important;
    z-index:9!important;
    padding-bottom: 1.5vw;
}
.MuiPopover-paper ul button {
    display: block;
    /* width: 100vw; */
    text-align: left!important;
    padding: 2vw 6vw;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {

    button.navItems {
        padding: 1vw 1.2vw;
        text-align: center;
    }
    #header span {
        line-height: 2em;
    }
}
@media only screen and (min-width: 768px) {

    button.navItems {
        padding: 1vw 1.4vw;
        text-align: center;
    }
    #header span {
        line-height: 2.5em;
    }
}
@media only screen and (min-width: 1200px) {
    button.navItems {
        padding: 1vw 1.6vw;
        text-align: center;
    }
    #header span {
        line-height: 3em;
    }
}