.sep-legendary {
    position:absolute;
    width: 100vw;
    height: 20vw;
    z-index:2!important;
    background-color: #fff;
}
.section-container p {
    color: #000;
}
.legendary-container {
    position: relative;
    margin-top: 5vw;
    padding: 10vw 0 5vw 0;
    z-index:2!important;
    background-color: #00fff8;
}
.legendary-content {
    padding: 0 15vw;
    font-size: 1em;
    line-height: 1.5em;
}
.legendary-eye {
    display: block;
    position: absolute;
    top:0;
    left:20vw;
}
.legendary-eye img {
    width: 80px;
}

@media only screen and (max-width: 600px) { 
    .legendary-eye img {
        width: 40px;
    }
    .legendary-content {
        padding: 0 10vw;
    }
    .legendary-container {
        padding: 20vw 0 10vw 0;
    }
}