#legendary {
    display: flex;
    position: relative;
    background-image: url("../../assets/img/bg-blue-2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    z-index:2!important;
}
.sep-legendary {
    position:absolute;
    width: 100vw;
    height: 20vw;
    z-index:2!important;
    background-color: #fff;
}
.legendary-container {
    display: block;
    position: relative;
    margin-top: 5vw;
    padding: 20vw 0 10vw 0;
    z-index:2!important;
    background-color: #00fff8;
}
.legendary-content {
    padding: 0 15vw;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
}
.legendary-content p{
    color: #000;
}
#legendary-eye {
    display: block;
    position: absolute;
    top:0;
    left:20vw;
}



/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {
    .legendary-content {
        padding: 0 10vw;
    }
    .legendary-container {
        margin-top: 5vw;
        padding: 5vw 0 5vw 0;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 600px) { 

}