@font-face {
  font-family: 'Acumin-Variable-Concept';
  src: local('Acumin-Variable-Concept'), url('./assets/fonts/Acumin-Variable-Concept.ttf') format('truetype');
}
@font-face {
  font-family: 'MyriadPro-BoldSemiExt';
  src: local('MyriadPro-BoldSemiExt'), url('./assets/fonts/MyriadPro-BoldSemiExt.otf') format('truetype');
}
@font-face {
  font-family: "Myriad-Bold";
  src: local("Myriad-Bold"), url('./assets/fonts/Myriad-Bold.otf') format('truetype');
}
@font-face {
  font-family: "MyriadPro-LightSemiExt";
  src: local("MyriadPro-LightSemiExt"), url('./assets/fonts/MyriadPro-LightSemiExt.otf') format('truetype');
}
@font-face {
  font-family: "MyriadPro-SemiCn";
  src: local("MyriadPro-SemiCn"), url('./assets/fonts/MyriadPro-SemiCn.otf') format('truetype');
}

.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
