@import-normalize;

body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: stretch;
    min-height: -webkit-fill-available;
}
html {
    height: stretch;
    height: -webkit-fill-available;
}
p {
    margin: 0;
    padding: 0;
    display: contents;
}