body {margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}
html {
    height: fill-available;
    height: -webkit-fill-available;
}

.Bg_Blue_1 {
    display:block;
    position: relative;
    width: 100vw;
    bottom:0!important;
}
.Bg_mutlpleNfts {
    background-image: url("./assets/img/intro-random.png");
    background-size:cover;
    position:fixed;
    top:0;
    bottom:0;
    z-index:-1;
    width: 100vw;
}
.Bg_Pink {
    max-width: 100%;
    display: block;
}


.intro {
    position: relative;
    margin-top: -15vw;
    margin-bottom: -35vw;
    z-index: 59;
    width: 30vw;
    min-width: 30%;
    align-items: center;
}
.circle {
    position: relative;
    margin-top: -18%;
    z-index: 59;
    width: 200px;

}

.circle_div,
.about_eye_mobile,
.eye_btnsction_mobile {
    display: none;
}



@media only screen and (max-width: 720px) {
    .intro {
        min-width: 50%;
        margin-bottom:-80vw;
    }
}