.swiper {
  width: 100%;
  padding-top: 16vw;
  padding-bottom: 16vw;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px !important;
  height: 180px !important;
  width: 55vw !important;
  height: 55vw !important;
  border: 5px solid white;
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {
  .swiper {
    padding-top: 12vw;
    padding-bottom: 6vw;
  }
  .swiper-slide {
    width: 42vw !important;
    height: 42vw !important;
  }
}
@media only screen and (min-width: 768px) {  
  .swiper {
    padding-top: 6vw;
    padding-bottom: 8vw;
  }
  .swiper-slide {
    width: 325px !important;
    height: 325px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .swiper {
    padding-top: 6vw;
    padding-bottom: 4vw;
  }
  .swiper-slide {
    width: 350px !important;
    height: 350px !important;
  }
}
