.carousel {
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px !important;
  height: 180px !important;
  width: 51vw !important;
  height: 51vw !important;
  border: 5px solid white;
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {
  .swiper-slide {
    width: 42vw !important;
    height: 42vw !important;
  }
}
@media only screen and (min-width: 768px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 325px !important;
    height: 325px !important;
  }
}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px !important;
    height: 350px !important;
  }
}
