#manifesto {
    position: relative;
    display: flex;
    background-image: url("../../assets/img/bg-pink-2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    z-index:2!important;
}
.sep-manifesto {
    position: absolute;
    width: 100vw;
    height: 20vw;
    z-index: 2!important;
    background-color: #00fff8;
}
.manifesto-container {
    position: relative;
    display: inline-block;
    margin-top: 16vw;
    padding: 12vw 5vw 15vw 10vw;
    z-index:2!important;
    background-color: #ff5bf8;
    background-image: url("../../assets/img/circle-yellow.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 80vw;
    z-index:999!important;
}
ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2em;
    margin-left: -5vw;
    padding: 0 5vw 1vw 5vw;
    text-align: left;
}
ol li {
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align:text-top;
    vertical-align:top;
    padding-bottom: 3vw;
    
}
ol li span {
    margin-left: 15vw;
    color: #fff;
    font-family: Myriad-Bold;
} 
ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #000;
    position: absolute;
    top: 0;
    background: #fff;
    height: 1.8em;
    width: 1.8em;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;
    font-weight: 700;
    display: inline-block;
}
#manifesto-eye {
    display: block;
    position: absolute;
    bottom:2vw;
    right:20vw;
}
#manifesto-eye img {
    width: 12vw;
}


/* ************************ */
/* RESPONSIVE MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 576px) {
    .manifesto-container {
        padding: 5vw 5vw;
        background-size: 60vw;
    }
    #manifesto-eye img {
        width: 10vw;
    }
    ol {
        margin-left: 0;
        padding: 5vw 5vw 15vw;
    }
    ol li span {
        margin-left: 12vw;
    } 
}
@media only screen and (min-width: 768px) {
    #manifesto .section-title {
        margin-bottom: 2vw;
    }
    .manifesto-container {
        padding: 2vw 8vw 2vw 8vw;
        background-size: 45vw;
        padding-bottom: 12vw;
    }
    #manifesto-eye img {
        width: 10vw;
    }
    ol {
        margin-left: 0;
        padding: 0 5vw;
    }
    ol li span {
        margin-left:10vw;
    } 
}
@media only screen and (min-width: 1200px) {
    #manifesto .section-title {
        margin-bottom: 2vw;
    }
    .manifesto-container {
        padding: 2vw 8vw 2vw 8vw;
        padding-bottom: 12vw;
        background-size: 35vw;
    }
    #manifesto-eye img {
        width: 10vw;
    }
    ol {
        margin-left: 0;
        padding: 0 5vw;
    }
    ol li span {
        margin-left:10vw;
    } 
}
