.sep-manifesto {
    position:absolute;
    width: 100vw;
    height: 20vw;
    z-index:2!important;
    background-color: #00fff8;
}
.manifesto-container {
    position: relative;
    margin-top: 16vw;
    padding: 25vh 15vh;
    z-index:2!important;
    background-color: #ff5bf8;
    background-image: url("../../assets/img/circle-yellow.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size:50vh;
    z-index:19999!important;
}
ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -50px;
    padding: 0 10vw;
    text-align: left;
}
ol li {
    display: block;
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align:text-top;
    vertical-align:top;
    padding-bottom:1em;
    
}
ol li span {
    margin-left: 50px;
    color: #fff;
    font-family: Myriad-Bold;
} 
ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #000;
    position: absolute;
    top: 0;
    background: #fff;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;
    font-weight: 700;
    display: inline-block;
}
.about-eye {
    display: block;
    position: absolute;
    bottom:0;
    right:20vw;
}
.about-eye img {
    width: 64px;
}

@media only screen and (max-width: 600px) { 
    .about-eye img {
        width: 50px;
    }
    .manifesto-container {
        padding: 15vh 2vh 15vh 8vh;
    }
}
